<section class="breadcrumbs">
  <%= link_to 'Home', root_path %> / Edit Profile
</section>
<section class="application profile-form">
  <h2>Editing Profile</h2>

  <%= render 'form', profile: @profile %>
</section>