<section class="breadcrumbs">
  <%= link_to 'Home', root_path %> / New Profile
</section>
<section class="application profile-form">
  <h2>New Profile</h2>

  <%= render 'form', profile: @profile %>
</section>