<% document = 'Profile' %>
<section class="breadcrumbs">
  <%= link_to 'Home', root_path %> / Unauthorized
</section>

<section class="unauthorized text-center">
  <h2>
    You are not authorized to modify this <%= document %>
  </h2>
</section>