<section class="products">
  <h2 class="products-list-label">Watchlist</h2>
  <div class="products-list row justify-content-center justify-content-md-start">
      <%= render @watchlist_items unless @watchlist_items.blank? %>
  </div>
</section>
