<section class="breadcrumbs">
  <%= link_to 'Home', root_path %> / Checkout Complete
</section>

<section class="application success-order text-center">
  <h2>
    Thank you for your purchase!<br>
    A receipt will be sent to your e-mail<br>
  </h2>
</section>