<section class="breadcrumbs">
    <%= link_to 'Home', root_path %> / Contact Support
</section>

<section class="application success-contact-support text-center">
  <h2>
    Your message has been successfully received
  </h2>
</section>