@import 'bootstrap';
@import "font-awesome";

$blue: #27323E;
$yellow: #E8A020;
$white: #FBFBFB;
$gray: #828282;
$hover_blue: #284A6F;
$hover_yellow: #ECB14A;

$oswald: 'Oswald', sans-serif;
$bangers: 'Bangers', cursive;

$button_transition: all 0.2s ease;

* {
  padding: 0 !important;
  margin: 0 !important;
  font-family: $oswald;
  font-size: 16px;
  font-weight: normal;
  line-height: 17px;  
}

.desktop-only {
  display: none; /* Disable for mobile */
}

html {
  background: $blue;
}

body {
  margin-bottom: 50px !important; /* For mobile navigation */
  background: $white;
}

h1, h2 {
  font-family: $bangers;
  color: $blue;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

div.spacer10 {
  min-height: 10px;
  max-height: 10px;
}

div.spacer20 {
  min-height: 20px;
  max-height: 20px;
}

section.header {
  height: 100px;
  background: $blue;

  div.logo {
    margin-left: auto !important;
    margin-right: auto !important;
    min-width: 190px;
    max-width: 190px;
    a {
      img {
        height: 82px;
        width: auto;
        margin-left: -30px !important;
      }

      h1 {
        // margin-left: 5px !important;
        font-family: $oswald;
        font-size: 24px;
        font-weight: bold;
        line-height: 22px;
        color: $white;
        text-shadow: -3px 0 $yellow, 0 3px $yellow, 3px 0 $yellow, 0 -3px $yellow;
      }
    }
  }
}

@media (min-width: 768px) {
  section.header {
    height: 150px;
    
    div.logo {
      margin-left: 30px !important;
      margin-right: 0 !important;

      a {
        img {
          height: 110px;
          width: auto;
          margin-left: -15px !important;
        }

        h1 {
          margin-left: 10px !important;
          font-size: 36px;
          line-height: 33px;
        }
      }
    }
  }
}

section.primary-navigation {
  height: 50px;
  border: 1px solid $blue;
  
  nav.navbar {
    height: 50px;
    max-width: 1120px;
    margin-left: auto !important;
    margin-right: auto !important;
    
    // a {
    //   font-family: $bangers;
    //   font-size: 24px;
    //   color: $blue;
    // }

    ul.navbar-nav {
      list-style: none;

      li.nav-item {
        // max-height: 50px;
        height: 50px;
        // margin-right: 10px !important;
        padding-left: 5px !important;
        padding-right: 5px !important;        
        transition: $button_transition;

        a.nav-link {
          height: 50px;
          font-family: $bangers;
          font-size: 24px;
          color: $blue;
          // line-height: 50px;

          div.primary-nav-icon-home {
            min-height: 20px;
            min-width: 20px;
            max-height: 20px;
            max-width: 20px;
            background: image-url('home-blue.svg') no-repeat;
            padding-right: 30px !important;
            // margin-left: 50px !important;
            border-right: 1px solid $blue;
            // margin-top: 15px !important;
          }

          div.primary-nav-icon {
            min-height: 20px;
            min-width: 20px;
            max-height: 20px;
            max-width: 20px;
            // padding-right: 30px !important;
          }

          div.primary-nav-label {
            height: 50px;
            font-family: $bangers;
            font-size: 24px;
            // line-height: 30px;
            // vertical-align: middle;
          }

          div.primary-nav-icon-profile {
            background: image-url('profile-blue.svg') no-repeat;
          }
          div.primary-nav-icon-messages {
            background: image-url('messages-blue.svg') no-repeat;
          }
          div.primary-nav-icon-shopping-cart {
            background: image-url('shopping_cart-blue.svg') no-repeat;
          }

        }
      }
      li.nav-item:hover, li.nav-item:active, li.nav-item:focus {
        background: $blue;
        a.nav-link {
          color: $white;
          div.primary-nav-icon-profile {
            background: image-url('profile-white.svg') no-repeat;
          }
          div.primary-nav-icon-messages {
            background: image-url('messages-white.svg') no-repeat;
          }
          div.primary-nav-icon-shopping-cart {
            background: image-url('shopping_cart-white.svg') no-repeat;
          }
        }
      }
      li.nav-item:last-of-type {
        margin-right: 0px !important;
      }

      /* Shop by Category Dropdown */
      div.category-dropdown-content {
        display: none;
        position: absolute;
        background: $blue;
        min-width: 300px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        margin-left: -5px !important;
        
        a {
          height: 40px;
          font-family: $bangers;
          font-size: 24px;
          color: $white;
          background: $blue;
          padding: 12px 16px;
          text-decoration: none;
          display: block;
          padding-left: 5px !important;
          padding-right: 5px !important;
        }
        a:hover {
          background-color: $yellow
        }
      }
      li.nav-item-category:hover {
        div.category-dropdown-content {
          display: block;
        }
      }
      /* end - Shop by Category Dropdown */
    }

    ul.navbar-left {
      width: 30%;
      li:first-of-type {
        // a.nav-link {
        //   div {
            padding-right: 15px !important;
            // border-right: 1px solid $blue;
          // }
        // }
      }
      li.nav-item:nth-of-type(2) { /* Shop by Category */
        min-width: 165px;
        a.nav-link {
          min-width: 165px;
        }
      }
      li:first-of-type:hover {
        background: none;
        a.nav-link {
          color: $blue;
        }
      }
      li:nth-of-type(2) {
        margin-left: -10px !important;
      }
    }
    ul.navbar-right {
      width: 70%;
    }
  }
}

nav.mobile-navigation {
  height: 50px;
  background: $blue;
}

@media (max-width: 1120px) {
  /* Add Primary Navigation Margins */
  section.primary-navigation {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
}
@media (max-width: 920px) {
  /* Hide Primary Navigation */
  section.primary-navigation {
    display: none;
  }
}
@media (min-width: 920px) {
  /* Hide Mobile Navigation */
  nav.mobile-navigation {
    display: none;
  }
}

div.breadcrumbs {
  margin-top: 5px !important;
  margin-left: 10px !important;
  font-size: 16px;
  color: black;
  a {
    font-size: 16px;
    color: black;
  }
}

@import './products';
@import './shopping_carts';