@import 'bootstrap';

$blue: #27323E;
$yellow: #E8A020;
$white: #FBFBFB;

$oswald: 'Oswald', sans-serif;
$bangers: 'Bangers', cursive;

* {
  padding: 0 !important;
  margin: 0 !important;
  font-family: $oswald;
  font-size: 14px;
  font-weight: normal;
  line-height: 17px;  
}

.desktop-only {
  display: none; /* Disable for mobile */
}

html {
  background: $blue;
}

body {
  margin-bottom: 50px !important; /* For mobile navigation */
  background: $white;
}

h1, h2 {
  font-family: $bangers;
  color: $blue;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

section.header {
  height: 100px;
  background: $blue;

  div.logo {
    margin-left: auto !important;
    margin-right: auto !important;
    min-width: 190px;
    max-width: 190px;
    a {
      img {
        height: 82px;
        width: auto;
        margin-left: -30px !important;
      }

      h1 {
        // margin-left: 5px !important;
        font-family: $oswald;
        font-size: 24px;
        font-weight: bold;
        line-height: 22px;
        color: $white;
        text-shadow: -3px 0 $yellow, 0 3px $yellow, 3px 0 $yellow, 0 -3px $yellow;
      }
    }
  }
}

@media (min-width: 768px) {
  section.header {
    height: 150px;
    
    div.logo {
      margin-left: 30px !important;
      margin-right: 0 !important;

      a {
        img {
          height: 110px;
          width: auto;
          margin-left: -15px !important;
        }

        h1 {
          margin-left: 10px !important;
          font-size: 36px;
          line-height: 33px;
        }
      }
    }
  }
}

section.primary-navigation {
  height: 50px;
  border: 1px solid $blue;

  nav.navbar {
    height: 50px;
    max-width: 1120px;
    margin-left: auto !important;
    margin-right: auto !important;
    
    // a {
    //   font-family: $bangers;
    //   font-size: 24px;
    //   color: $blue;
    // }

    ul.navbar-nav {
      list-style: none;

      li.nav-item {
        // max-height: 50px;
        height: 50px;
        margin-right: 20px !important;
        padding-left: 5px !important;
        padding-right: 5px !important;        

        a.nav-link {
          height: 50px;
          font-family: $bangers;
          font-size: 24px;
          color: $blue;
          // line-height: 50px;

          div.primary-nav-icon-home {
            min-height: 20px;
            min-width: 20px;
            max-height: 20px;
            max-width: 20px;
            background: image-url('home-blue.svg') no-repeat;
            padding-right: 30px !important;
            border-right: 1px solid $blue;
            // margin-top: 15px !important;
          }

          div.primary-nav-icon {
            min-height: 20px;
            min-width: 20px;
            max-height: 20px;
            max-width: 20px;
            // padding-right: 30px !important;
          }

          div.primary-nav-label {
            height: 50px;
            font-family: $bangers;
            font-size: 24px;
            // line-height: 30px;
            // vertical-align: middle;
          }

          div.primary-nav-icon-profile {
            background: image-url('profile-blue.svg') no-repeat;
          }
          div.primary-nav-icon-messages {
            background: image-url('messages-blue.svg') no-repeat;
          }
          div.primary-nav-icon-shopping-cart {
            background: image-url('shopping_cart-blue.svg') no-repeat;
          }

        }
      }
      li.nav-item:hover {
        background: $blue;
        a.nav-link {
          color: $white;
          div.primary-nav-icon-profile {
            background: image-url('profile-white.svg') no-repeat;
          }
          div.primary-nav-icon-messages {
            background: image-url('messages-white.svg') no-repeat;
          }
          div.primary-nav-icon-shopping-cart {
            background: image-url('shopping_cart-white.svg') no-repeat;
          }
        }
      }
      li.nav-item:last-of-type {
        margin-right: 0px !important;
      }

      /* Shop by Category Dropdown */
      div.category-dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        a {
          color: black;
          padding: 12px 16px;
          text-decoration: none;
          display: block;
        }
        a:hover {background-color: #f1f1f1}
      }
      li.nav-item-category:hover {
        div.category-dropdown-content {
          display: block;
        }
      }
      /* end - Shop by Category Dropdown */
    }

    ul.navbar-left {
      width: 30%;
      // li:first-of-type {
      //   a.nav-link {
      //     div {
      //       // padding-right: 10px !important;
      //       // border-right: 1px solid $blue;
      //     }
      //   }
      // }
      li.nav-item:nth-of-type(2) { /* Shop by Category */
        min-width: 165px;
        a.nav-link {
          min-width: 165px;
        }
      }
      li:first-of-type:hover {
        background: none;
        a.nav-link {
          color: $blue;
        }
      }
      li:nth-of-type(2) {
        margin-left: -10px !important;
      }
    }
    ul.navbar-right {
      width: 70%;
    }
  }
}

nav.mobile-navigation {
  height: 50px;
  background: $blue;
}

@media (max-width: 1120px) {
  /* Add Primary Navigation Margins */
  section.primary-navigation {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
}
@media (max-width: 920px) {
  /* Hide Primary Navigation */
  section.primary-navigation {
    display: none;
  }
}
@media (min-width: 920px) {
  /* Hide Mobile Navigation */
  nav.mobile-navigation {
    display: none;
  }
}

section.products {
  max-width: 1016px;
  margin-left: auto !important;
  margin-right: auto !important;
  // background: blue;

  h2.products-list-label {
    font-size: 24px;
  }
  div.products-list {
    // background: red;
    
    div.product-item {
      min-width: 160px;
      max-width: 160px;
      min-height: 300px;
      max-height: 300px;
      border: 1px solid $blue;
      margin-right: 5px !important;
      margin-bottom: 5px !important;
      overflow: hidden;

      a {
        div.product-photo {
          min-width: 160px;
          max-width: 160px;
          min-height: 115px;
          max-height: 115px;
          background-color: $blue;
          background-size: cover;
          background-repeat: no-repeat;
        }
      }

      div.card-body {
        h4.card-title {
          height: 30px;
          font-size: 18px;
          font-weight: bold;
          line-height: 30px;
        }

        p.card-text {
          height: 75px;
          font-size: 14px;
          font-weight: normal;
        }

        div.button-cart {
          form {
            input[type=submit] {
              width: 120px;
              height: 45px;
              border: none;
              font-size: 18px;
              font-weight: bold;
              color: $yellow;
              background: $blue;
              box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);              
            }
          }

        }
        div.button-watchlist {
          input[type=submit] {
            height: 21px;
            border: none;
            font-size: 14px;
            background: none;
          }
        }
      }
    }
  }
}

@media (max-width: 400px) {
  /* Remove margin right form Product list items */
  section.products {
    div.products-list {
      div.product-item {
        margin-right: 0px !important;
      }
    }
  }
}

@media (min-width: 401px) and (max-width: 1016px) {
  /* Have a 10px margin before the product list */
  section.products {
    h2.products-list-label {
      margin-left: 10px !important;
    }
    div.products-list {
      margin-left: 10px !important;
    }
  }
}