<section class="products">
  <h2 class="products-list-label">All Available Products</h1>
  <div class="products-list row justify-content-center justify-content-md-start">
    <%= render @available_products %>
  </div>
</section>

<br>

<section class="products">
  <h2 class="products-list-label">All Sold Products</h1>
  <div class="products-list row justify-content-center justify-content-md-start">
    <%= render @sold_products %>
  </div>
</section>

<br>

<%= link_to 'New Product', new_product_path %>