<section class="breadcrumbs">
  <%= link_to 'Home', root_path %> / New Product
</section>
<section class="application form-product">
  <h2>New Product</h2>

  <%= render 'form', product: @product %>
</section>