<section class="breadcrumbs">
  <%= link_to 'Home', root_path %> / Edit Review
</section>
<section class="application review-form">
  <h2>Edit Review</h2>
  <%= render 'form', review: @review %>
</section>