<section class="breadcrumbs">
  <%= link_to 'Home', root_path %> / Review Complete
</section>
<section class="application success-review text-center">
  <h2>
    Thank you for your feedback!
  </h2>
</section>